
@media screen and (min-width: 700px) {

    html, body{
        margin:0;
        padding:0;
        overflow-x: scroll;
        font-family: Garamond,Helvetica,Arial,sans-serif;

    }

    h1,h2,p{
        color: black;
    }

    a{
        color:white;
        text-decoration: none;
    }

    body{
        background-size:cover;
        background-color:transparent;
        background-position:50% 50%;
        background-image:url(../assets/background_light.jpg);
        height: 100vh;
    }

    .container_video_demo{
        height: 100vh;
        /*background-repeat:no-repeat;
        background-size:cover;
        background-color:transparent;
        background-position:50% 50%;
        background-image:url(../assets/background.png);*/
    }

    .logo_container{
        margin-bottom: 50px;
    }

    .container-img{
        float: left;
        width:40%;
        height: 100%;
        margin: 0;
    }

    .imageBox{
        position: relative;
        height: 100%;
        text-align: center;

    }


@media screen and (min-width: 1000px){
#imagedefilement img{
    position: absolute;
    top: 50%;
    /*height: 600px;
    width: 311.58px;
    margin: -300px 0 0 -100px;*/
    width: 311px;
    margin: -300px 0 0 -19.5%;
}

.text-video{
    margin-left:40%;
    height: 100%;
}

.wrapper-text{
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    /*overflow: hidden;*/
}

.wrapper2{
    position: absolute;
    top:50%;
    left: 0;
    width: 100%;
    height: 587px;
    margin: -295px 0 0 0;
}

.title1{
    font-size:50px;
    font-weight:700;
    line-height:60px;
    margin:0 0 50px 0;
    color: white;
    text-align: center;
    padding: 0 40px;

}

.title2{
    margin-bottom:50px;
    margin-top: 0px;
    padding: 0 60px;

    font-size: 25px;
    line-height: 30px;
    font-weight: normal;
    color: white;
    text-align: center;
}

form{
    position: relative;
    text-align: left;

}

#mailbeta input[type=text]{
    width: 50%;
    height: 40px;
    padding: 0px;
    margin-left: 90px;
    border: 0px solid;
    border-radius: 30px;
    color: black;
    display: inline-block !important;
    font-size: 20px;
    font-weight: normal;
    font-family: Garamond,Helvetica,Arial,sans-serif;

    line-height: 23px;
    padding: 0 15px;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: grey;
  font-family: Garamond,Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: bold;;
}
::-moz-placeholder { /* Firefox 19+ */
  color: grey;
  font-family: Garamond,Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: bold;;


}
:-ms-input-placeholder { /* IE 10+ */
  color: grey;
  font-family: Garamond,Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: bold;

}

:-moz-placeholder { /* Firefox 18- */
  color: grey;
  font-family: Garamond,Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: bold;

}


#mailbeta #button-video{
    position: absolute;
    top:0;
    margin-left: 10px;
    height: 40px;
    width: 20%;
    border: 0px solid blue;
    border-radius: 30px;
    color: white;
    background-color: #4cbfe6;
    display: inline-block !important;
    font-size: 20px;
    font-family: Garamond,Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 23px;
    padding: 0 2.5px 0 2.5px;
    cursor: pointer;
}

.commentBox p{
    font-size: 20px;
    font-weight: bold;
    color: red;
    text-align: left;
    margin-left: 90px;
}

}

@media screen and (max-width:1000px) and (min-width: 700px){

    #imagedefilement img{
        position: absolute;
        top: 50%;
        /*height: 600px;
        width: 311.58px;
        margin: -300px 0 0 -100px;*/
        width: 311px;
        margin: -300px 0 0 -150px;
    }

    .text-video{
        margin-left:40%;
        height: 100%;
    }

    .wrapper-text{
        position: relative;
        height: 100%;
        width: 100%;
        text-align: center;
        /*overflow: hidden;*/
    }


    .wrapper2{
        position: absolute;
        top:50%;
        left: 0;
        width: 100%;
        height: 587px;
        margin: -295px 0 0 0;
    }

    .title1{
        font-size:40px;
        font-weight:700;
        line-height:60px;
        margin:0 0 50px 0;
        color: white;
        text-align: center;
        padding: 0 40px;

    }

    .title2{
        margin-bottom:50px;
        margin-top: 0px;
        padding: 0 60px;
        font-size: 20px;
        line-height: 30px;
        font-weight: normal;
        color: white;
        text-align: center;
    }

    form{
        position: relative;
        text-align: left;

    }

    #mailbeta input[type=text]{
        width: 50%;
        height: 40px;
        margin-left: 70px;
        border: 0px solid;
        border-radius: 30px;
        color: black;
        display: inline-block !important;
        font-size: 20px;
        font-weight: normal;
        line-height: 23px;
        padding: 0 15px;

    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: grey;
      font-family: Garamond,Helvetica,Arial,sans-serif;
      font-size: 20px;
      font-weight: bold;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: grey;
      font-family: Garamond,Helvetica,Arial,sans-serif;
      font-size: 20px;
      font-weight: bold;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: grey;
      font-family: Garamond,Helvetica,Arial,sans-serif;
      font-size: 20px;
      font-weight: bold;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: grey;
      font-family: Garamond,Helvetica,Arial,sans-serif;
      font-size: 20px;
      font-weight: bold;
    }


    #mailbeta #button-video{
        position: absolute;
        top:0;
        margin-left: 10px;
        height: 40px;
        width: 23%;
        border: 0px solid blue;
        border-radius: 30px;
        font-family: Garamond,Helvetica,Arial,sans-serif;
        color: white;
        background-color: #4cbfe6;
        display: inline-block !important;
        font-size: 17px;
        font-weight: normal;
        line-height: 10px;
        padding: 0 2.5px 0 2.5px;
        cursor: pointer;
    }

    .commentBox p{
        font-size: 20px;
        font-weight: bold;
        color: red;
        text-align: left;
        margin-left: 70px;
    }
}

.text-video{
    margin-left:40%;
    height: 100%;
}

.wrapper-text{
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    /*overflow: hidden;*/
}


.wrapper2{
    position: absolute;
    top:50%;
    left: 0;
    width: 100%;
    height: 587px;
    margin: -295px 0 0 0;
}





form{
    position: relative;
    text-align: left;

}

}


@media screen and (max-width: 700px) and (min-width: 1px) {


    html, body{
        margin:0;
        padding:0;
        overflow-x: scroll;
        font-family: Garamond,Helvetica,Arial,sans-serif;
        height: 100vh;

    }

    h1,h2,p{
        color: black;
    }

    a{
        color:white;
        text-decoration: none;
    }

body{
    background-size:cover;
    background-color:transparent;
    background-position:50% 50%;
    background-image:url(../assets/background_light.jpg);
    height: 100vh;
}

    .container_video_demo{


    }
    .logo_container{
        margin-bottom: 25%;
    }
    .logo_container,img{
        height: 80px;
    }

    .container-img{
        padding-top: 25px;
    }

    .imageBox{
        text-align: center;

    }

    #imagedefilement img{

        height: 125px;
        width: 65px;
        margin-bottom: 50px;
        display: none;

    }

    .text-video{
        margin: 0;
    }

    .text-video{
        height: 100%;
    }

    .wrapper-text{
        width: 100%;
        text-align: center;
    }

    .wrapper2{
        /*position: absolute;
        top:50%;
        left: 0;
        width: 100%;
        margin: -40% 0 0 0;*/
    }

    .title1{
        font-size:23px;
        font-weight:700;
        line-height:40px;
        margin-bottom: 50px;
        color: white;
        text-align: center;
        padding: 0 20px;

    }

    .title2{
        margin-bottom:50px;
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
        line-height: 25px;
        font-weight: normal;
        color: white;
        width: 80%;
        text-align: center;
    }



    form{
        position: relative;
        text-align: left;
        padding-bottom: 10px;

    }


    #mailbeta input[type=text]{
        width: 40%;
        height: 25px;
        padding: 0px;
        margin-left: 15%;
        border: 0px solid;
        font-family: Garamond,Helvetica,Arial,sans-serif;
        color: black;
        display: inline-block !important;
        font-size: 12px;
        font-weight: normal;
        line-height: 23px;
        padding: 0 15px;
        border-radius: 30px;

    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: grey;
      font-family: Garamond,Helvetica,Arial,sans-serif;
      font-size: 12px;
      font-weight: bold;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: grey;
      font-family: Garamond,Helvetica,Arial,sans-serif;
      font-size: 12px;
      font-weight: bold;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: grey;
      font-family: Garamond,Helvetica,Arial,sans-serif;
      font-size: 12px;
      font-weight: bold;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: grey;
      font-family: Garamond,Helvetica,Arial,sans-serif;
      font-size: 12px;
      font-weight: bold;
    }


    #mailbeta #button-video{
        position: absolute;
        top:0;
        height: 25px;
        width: 20%;
        border: 0px solid #4cbfe6;
        border-radius: 30px;
        color: white;
        background-color: #4cbfe6;
        display: inline-block !important;
        font-size: 12px;
        font-family: Garamond,Helvetica,Arial,sans-serif;
        font-weight: normal;
        line-height: 23px;
        padding: 0 2.5px 0 2.5px;
        cursor: pointer;
        margin-left: 10px;
    }

    .commentBox p{
        font-size: 12px;
        font-weight: bold;
        color: red;
        text-align: left;
        margin-left: 15%;
    }

}
