
@media screen and (max-width: 100000px) and (min-width: 800px) {

html, body{
    margin:0;
    padding:0;
    overflow-x: scroll;
    font-family: Garamond,Helvetica,Arial,sans-serif;

}

h1,h2,p{
    color: black;
}

a{
    color:white;
    text-decoration: none;
}

.container_video_demo{
    position: relative;
    height: 100vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-color:transparent;
    background-position:50% 50%;
    background-image:url(../assets/background.png);
}

.logo_container{
    margin-bottom: 50px;
}

.container-img{
    float: left;
    width:40%;
    height: 100%;
    margin: 0;
}

.imageBox{
    position: relative;
    height: 100%;

}

#imagedefilement img{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 260px;
    margin: -250px 0 0 -50px;


}

.text-video{
    margin-left:40%;
    height: 100%;
}

.wrapper-text{
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
}


@media screen and (max-width: 100000px) and (min-width: 1200px){
    .wrapper2{
        position: absolute;
        top:50%;
        left: 0;
        width: 100%;
        margin: -35% 0 0 0;
    }

    .title1{
        font-size:65px;
        font-weight:700;
        line-height:60px;
        margin:0 0 75px 0;
        color: white;
        text-align: center;
        padding: 0 20px;

    }

    .title2{
        margin-bottom:75px;
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
        line-height: 30px;
        font-weight: normal;
        color: white;
        width: 80%;
        text-align: center;
    }



    form{
        position: relative;
        text-align: left;

    }


    #mailbeta input[type=text]{
        width: 50%;
        height: 40px;
        padding: 0px;
        margin-left: 15%;
        border: 0px solid;
        color: black;
        display: inline-block !important;
        font-size: 20px;
        font-weight: normal;
        line-height: 23px;
        padding: 0 15px;

    }


    #mailbeta #button-video{
        position: absolute;
        top:0;
        height: 40px;
        width: 20%;
        border: 0px solid blue;
        color: white;
        background-color: #4cbfe6;
        display: inline-block !important;
        font-size: 12.5px;
        font-weight: normal;
        line-height: 23px;
        padding: 0 2.5px 0 2.5px;
        cursor: pointer;

    }
}

@media screen and (max-width: 1200px) and (min-width: 1000px){
    .wrapper2{
        position: absolute;
        top:50%;
        left: 0;
        width: 100%;
        margin: -30% 0 0 0;
    }

    .title1{
        font-size:50px;
        font-weight:700;
        line-height:60px;
        margin:0 0 75px 0;
        color: white;
        text-align: center;
        padding: 0 20px;

    }

    .title2{
        margin-bottom:75px;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        line-height: 30px;
        font-weight: normal;
        color: white;
        width: 80%;
        text-align: center;
    }



    form{
        position: relative;
        text-align: left;

    }


    #mailbeta input[type=text]{
        width: 50%;
        height: 40px;
        padding: 0px;
        margin-left: 15%;
        border: 0px solid;
        color: black;
        display: inline-block !important;
        font-size: 20px;
        font-weight: normal;
        line-height: 23px;
        padding: 0 15px;

    }


    #mailbeta #button-video{
        position: absolute;
        top:0;
        height: 40px;
        width: 20%;
        border: 0px solid blue;
        color: white;
        background-color: #4cbfe6;
        display: inline-block !important;
        font-size: 12.5px;
        font-weight: normal;
        line-height: 23px;
        padding: 0 2.5px 0 2.5px;
        cursor: pointer;

    }
}

@media screen and (max-width: 1000px) and (min-width: 800px) {
    .wrapper2{
        position: absolute;
        top:50%;
        left: 0;
        width: 100%;
        margin: -40% 0 0 0;
    }

    .title1{
        font-size:40px;
        font-weight:700;
        line-height:60px;
        margin:0 0 75px 0;
        color: white;
        text-align: center;
        padding: 0 20px;

    }

    .title2{
        margin-bottom:75px;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        line-height: 30px;
        font-weight: normal;
        color: white;
        width: 80%;
        text-align: center;
    }



    form{
        position: relative;
        text-align: left;

    }


    #mailbeta input[type=text]{
        width: 50%;
        height: 40px;
        padding: 0px;
        margin-left: 15%;
        border: 0px solid;
        color: black;
        display: inline-block !important;
        font-size: 20px;
        font-weight: normal;
        line-height: 23px;
        padding: 0 15px;

    }


    #mailbeta #button-video{
        position: absolute;
        top:0;
        height: 40px;
        width: 20%;
        border: 0px solid blue;
        color: white;
        background-color: #4cbfe6;
        display: inline-block !important;
        font-size: 12.5px;
        font-weight: normal;
        line-height: 23px;
        padding: 0 2.5px 0 2.5px;
        cursor: pointer;

    }
}



#footer{
    background-color: #4cbfe6;

}

.footer-container{
    font-size: 15px;
    text-align: center;
    padding: 10px auto;
}

.footer-container p{
    margin: 0;
}

}

@media screen and (max-width: 800px) and (min-width: 1px) {


    html, body{
        margin:0;
        padding:0;
        overflow-x: scroll;
        font-family: Garamond,Helvetica,Arial,sans-serif;
        height: 100vh;

    }

    h1,h2,p{
        color: black;
    }

    a{
        color:white;
        text-decoration: none;
    }

body{
    background-size:cover;
    background-color:transparent;
    background-position:50% 50%;
    background-image:url(../assets/background.png);
    height: 100vh;
}

    .container_video_demo{


    }

    .logo_container{
        position: absolute;
        top: 15px;
        left: 15px;
    }


    .container-img{
        padding-top: 25px;
    }

    .imageBox{
        text-align: center;

    }

    #imagedefilement img{

        height: 125px;
        width: 65px;

    }

    .text-video{
        margin: 0;
    }

    .text-video{
        height: 100%;
    }

    .wrapper-text{
        width: 100%;
        text-align: center;
    }

    .wrapper2{
        /*position: absolute;
        top:50%;
        left: 0;
        width: 100%;
        margin: -40% 0 0 0;*/
    }

    .title1{
        font-size:25px;
        font-weight:700;
        line-height:40px;
        margin:20px 0 20px 0;
        color: white;
        text-align: center;
        padding: 0 20px;

    }

    .title2{
        margin-bottom:20px;
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
        line-height: 25px;
        font-weight: normal;
        color: white;
        width: 80%;
        text-align: center;
    }



    form{
        position: relative;
        text-align: left;
        padding-bottom: 50px;

    }


    #mailbeta input[type=text]{
        width: 40%;
        height: 25px;
        padding: 0px;
        margin-left: 15%;
        border: 0px solid;
        color: black;
        display: inline-block !important;
        font-size: 5px;
        font-weight: normal;
        line-height: 23px;
        padding: 0 15px;

    }


    #mailbeta #button-video{
        position: absolute;
        top:0;
        height: 25px;
        width: 20%;
        border: 0px solid #4cbfe6;
        color: white;
        background-color: #4cbfe6;
        display: inline-block !important;
        font-size: 4px;
        font-weight: normal;
        line-height: 23px;
        padding: 0 2.5px 0 2.5px;
        cursor: pointer;

    }


}
