
html, body{
    margin:0;
    padding:0;
    overflow-x: scroll;
    font-family: Garamond,Helvetica,Arial,sans-serif;
}

h1,h2,p{
    color: black;
}

a{
    color:white;
    text-decoration: none;
}


.title1{
    font-size:60px;
    font-weight:700;
    line-height: :70px;
    margin:30px 0;
    color: white;

}

.title2{
    margin:30px 0;
    font-size: 20px;
    line-height: 25px;
    font-weight: normal;
    color: white;
}

.container_video_demo{
    position: relative;
    height: 100vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-color:transparent;
    background-position:50% 50%;
    background-image:url(./assets/backbleu.png);
}


.wrapper-text{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
    text-align: center;
}

.button-video{
        border: 2px solid;
        border-radius: 30px;
        color: white;
        display: inline-block !important;
        font-size: 12px;
        font-weight: bold;
        line-height: 46px;
        padding: 0 30px;
        text-transform: uppercase;
        cursor: pointer;
}
